<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Nirvana</title>
</head>
<link rel="stylesheet" href="/public/style.css">

<body>
    <div class="about">
        <nav class="nirv">
            <ul>
                <li><a href="/views/home.html">Home</a></li>
                <li><a href="/views/about.html">About</a></li>
                <li><a href="/views/albums.html">Albums</a></li>
                <li><a href="/views/gallery.html">Gallery</a></li>
            </ul>
        </nav>
    </div>
</body>

</html>