<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nirvana-Albums</title>
</head>
<link rel="stylesheet" href="/public/style.css">

<div class="album">

    <body>
        <h1>Nirvana Studio Albums</h1>
        <div class="flex-container">
            <ul>
                <img src="/public/Img/album1.jpg" alt="">
                <li>Bleach 1989</li>
                <img src="/public/Img/album 2.jpg" alt="">
                <li>Nevermind 1991</li>
                <img src="/public/Img/album 3.jpeg" alt="">
                <li>In Utero</li>
        </div>
        </ul>
        <nav class="nirv">
            <ul>
                <li><a href="/views/home.html">Home</a></li>
                <li><a href="/views/about.html">About</a></li>
                <li><a href="/views/albums.html">Albums</a></li>
                <li><a href="/views/gallery.html">Gallery</a></li>
            </ul>
        </nav>
</div>
</body>

</html>